body {
    background-color: white;
}
h1 {
    color: white;
}
#a{
    padding: 10%;
    border-color: blue;
    border-style: dotted;
    border-radius: 10px 10px 10px 10px;
}
#b {
    padding: 10%;
    border-style: dashed;
    border-radius: 10px 10px 10px 10px;
    border-color: red;
}
#c {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    padding: 10%;
    text-align: center;
    font-size: x-large;
}
